<div>
    <nav class="navbar">
        {% include "templates/icons/logo.njk" %}
        <ul class='flex nav'>
             <li>
                <a href='/work' class='navlink'>My Work</a> 
            </li>
            <li>
                <a href='/about' class='navlink'>About me</a>  
            </li>

        </ul>

    </nav>
    </div>
</div>
