<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
 <link rel="stylesheet" href="/styles.css">

</head>
<body>
{% include "templates/navigation.njk" %}
  {{ content | safe }}
{% include "templates/footer.njk" %}
</body>
</html>