<div >
    <a href='/'>
    <svg width="52" height="24" viewBox="0 0 52 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M31.3182 24L52 0H20.8L0 24H17.3333L31.2 8L31.3182 24Z" fill="white"/>
    </svg>
    </a>  
</div>
